/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
	R T L - for Arabic Language
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

body.language-dir-rtl .field-item .section--hero .hero .hero-item-container .hero-image .pattern-le {
	left: 0;
	right: auto;
}
body.language-dir-rtl .field-item .section--hero .hero .hero-item-container .hero-image .pattern-ri {
	left: auto;
	right: 0;
}

